.contentContainer {
    margin: auto;
    max-width: 700px;
}

.introContainer {
    display: flex;
    color: black;
}

.intro {
    display: block;
    font-family: sans-serif;
    font-weight: 100;
    padding-right: 1em;
    text-align: left;
}

h1 {
    font-family: sans-serif;
    font-weight: lighter;
    color: black;
}

a {
    color: maroon;
    font-weight: bolder;
    text-decoration: none;
}
