.footer {
    height:0px;
    opacity:0.2;
    width: 100%;
    position: absolute;
    bottom: 80px;
    /* height: 5rem; */
}

.social-container {
    position: absolute;
    bottom: 8px;
    left: 50%;
    transform: translate(-50%, 0%);
    font-family: sans-serif;
    font-weight: lighter;
}

.social-links {
    display: flex;
    list-style: none;
}

.social-item {
    padding-right: 1rem;
}