hr {
    height:0px;
    opacity:0.2;
    width: 100%;
}

.container {
    margin: auto;
    max-width: 700px;
    font-family: sans-serif;
    display: block;
}

.nav-bar {
    display: block;
    float: right;
}

.nav-links {
    display: flex;
    list-style: none;
    padding-left: 0;
}

.nav-link-item {
    padding-left: 1rem;
}

.nav-link-text {
    color: black;
    text-decoration: none;
    font-weight: normal;
}

.nav-link-text:hover {
    font-style: italic;
}

.nav-link-active {
    color: maroon;
    text-decoration: none;
    font-weight: bolder;
}

.tag {
    float: left;
    font-family: sans-serif;
}
